.navbar__container {
  position: fixed;

  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  z-index: 100;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #0d1116;

  .navbar__content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .content__right {
      .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        text-decoration: none;
      }
    }
  }
}
