:root {
  background-color: #0d1116;
  color: white;
}

body {
  margin: 0;
  > div.MuiPopper-root {
    > div {
      border-color: rgba(255, 255, 255, 0.2);
      background-color: #0d1116 !important;
    }
  }
}

* {
  color: rgba(255, 255, 255, 0.8) !important;
}
